/*
@media (max1409px,){
  padding-left: 35%;
}*/
.disabled {
  display: flex;
  align-items: flex-end;
  height: 250px;
  width: 250px; 
}
.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:  black;
  background-color:yellow;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
/*if (localStorage.getItem(‘cookieSeen’) != ‘shown’) {
  $(‘.cookie-banner’).delay(2000).fadeIn();
  localStorage.setItem(‘cookieSeen’,’shown’)
};
$(‘.close’).click(function() {
  $(‘.cookie-banner’).fadeOut();
})*/
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.background {
  height: 205px;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsnh_6jyO77lW4FASFQ6eR52hmVRVTdbDqw&usqp=CAU");
}
hr {
  background-color: red;
  color: red;
  height: 25px;
}
#phone-number {
  margin-top: 3%;
  text-align: right;
  position: right;
}
.logo {
  width: 75px;
  height: 75px;
  border-bottom-width: 25px;
}
.nav-bar {
    text-align: center;
   /* grid-template-rows:  minmax(100px, 15%) 1fr;*/
}
.dropbtn {
    background-color: #5e76dd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
  }
  
  .dropdown  {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f30808;}
  #baby-face {
      align-items: center;
      margin-left: 38%;
      
  }
  .cookies :hover{
    background-color:rgb(192, 185, 185);
    color: yellow;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
  }
  
  .questions {
    display: grid;
    grid-template: minmax(20px) 1fr;
  }
  .inputs {
    size: 30px;
  }
  #brush {
   
    align-content: center;
    align-items: center;
    height: 200px;
   /* zoom:100%;*/
  }
 .parent#brush {
    display: grid;
    place-items: center;
  }
.cookies {
  align-content: flex-end;
}
  #two-people {
    align-content: flex-end;
    width:150px;
    height:150px
    /*align-items: center;
    margin-left: 75%;*/
  }
  #quote-1 {
    size: 75px;
  }

 