.background {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsnh_6jyO77lW4FASFQ6eR52hmVRVTdbDqw&usqp=CAU");
   
}.phone-number {
  position: fixed;
}
.logo {
  width: 75px;
  height: 75px;
  border-bottom-width: 25px;
}
.nav-bar {
    text-align: center;
   /* grid-template-rows:  minmax(100px, 15%) 1fr;*/
}
.dropbtn {
    background-color: #5e76dd;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f30808;}
  #baby-face {
      align-items: center;
      margin-left: 38%;
      
  }
  .questions {
    display: grid;
    grid-template: minmax(20px) 1fr;
  }
  .inputs {
    size: 30px;
  }
 .parent#brush {
    display: grid;
    place-items: center;
  }

  #two-people {
    float:right;
    width:150px;
    height:150px
    /*align-items: center;
    margin-left: 75%;*/
  }
  #quote-1 {
    size: 75px;
  }

 